<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="about-section">
	
	<section class="section about" id="about">
		<div class="container">
			<div class="section-title-container">
				<h2 class="section-title">About Me</h2>
				<p class="section-subtitle">
				Get to know more about my background, skills, and what drives me
				</p>				
		
			</div>
			<div class="about-container">
				<div class="about-content">
					<div class="about-tagline">My Background</div>
					<h3 class="about-heading"> Be Efficient not effective </h3>
					
					<p class="about-text">Hi, I'm Jnana Sai Parimi — a passionate and detail-oriented full-stack developer with a strong foundation in web technologies and modern frameworks. I specialize in building responsive, efficient, and user-friendly web applications. My journey in tech began with a curiosity for problem-solving, which soon turned into a deep commitment to mastering both front-end and back-end development.</p>
					<p class="about-text">I enjoy turning ideas into reality using clean, scalable code. Whether it's crafting pixel-perfect UIs with React or building robust APIs with Spring Boot, I thrive on creating seamless user experiences. In addition to development, I love collaborating with teams, embracing new challenges, and learning continuously through hands-on projects and freelance opportunities.</p>
					<p class="about-text">Beyond the screen, I'm a lifelong learner and tech explorer. I'm always keeping up with the latest industry trends, contributing to open-source projects, and refining my craft. My goal is to not just build software — but to create impactful digital solutions that add value and solve real-world problems.</p>
					
					
					<!-- Skills -->
					<div class="skills-container">
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-java"></i>
							</div>
							<div class="skill-name">Java</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-code"></i>
							</div>
							<div class="skill-name">Spring Boot</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-js"></i>
							</div>
							<div class="skill-name">Javascript</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-react"></i>
							</div>
							<div class="skill-name">React</div>
						</div>
												
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fa-solid fa-server"></i>
							</div>
							<div class="skill-name">MySQL</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fa-solid fa-cloud"></i>
							</div>
							<div class="skill-name">Azure</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fa-solid fa-code-branch"></i>
							</div>
							<div class="skill-name">Git</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fas fa-plug"></i>
							</div>
							<div class="skill-name">PostMan</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-html5"></i>
							</div>
							<div class="skill-name">HTML</div>
						</div>
						
						<div class="skill-item">
							<div class="skill-icon">
								<i class="fab fa-css3-alt"></i>
							</div>
							<div class="skill-name">CSS</div>
						</div>
						
					</div>				
				</div>
			
				<div class="about-visual">
					<div class="about-image-container">
						<div class="about-image-bg"></div>
						<img alt="about" src="/images/port.jpg" class="about-image">
				    </div>
				    <div class="about-decorations">
				    	<div class="about-decoration"></div>
				    	<div class="about-decoration"></div>				    
				    </div>			
			</div>
		</div>	
	</section>
	</th:block>
</html>