<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="hero-section">
	<section class="hero" id="home">
	   <div class="hero-background"></div>
	   <div class="container hero-container">
	   		<div class="hero-contain">
	   			<div class="hero-greeting">Hi there,I'm</div>
	   			<h1 class="hero-title"><span class="gradient-text">Jnana Sai Parimi</span></h1>
	   			<h2 class="hero-subtitle">Developer,Freelancer,Problem Solver,Full-Stack Enthusiast,Tech Explorer</h2>
	   			<p class="hero-description">  Passionate and creative developer with a strong interest in building clean, responsive, and user-friendly web applications. I enjoy turning ideas into reality using modern technologies and continuously strive to improve my skills through hands-on experience and learning.</p>
	   			<div class="hero-buttons">
	   			   <a href="#projects" class="btn btn-primary">
	   			   		View My Work <i class="fas fa-arrow-right"></i>
	   			   </a>
	   			   
	   			   <a href="#contact" class="btn btn-outline">
	   			   		Get In Touch 
	   			   </a>
	   			 
	   			</div>
	   			<div class="social-links">
	   				<a href="tel:+916281815552" class="social-link">
	   					<i class="fas fa-phone-alt"></i>
	   				</a>
	   				<a href="mailto:jnanasai18@gmail.com" class="social-link">
	   					<i class="fas fa-envelope"></i>
	   				</a>
	   				<a href="https://www.linkedin.com/in/jnana-sai-112803290/" target="_blank" class="social-link">
	   					<i class="fab fa-linkedin-in"></i>
	   				</a>
	   				<a href="https://github.com/jnanasaiparimi" target="_blank" class="social-link">
	   					<i class="fab fa-github"></i>
	   				</a>  				
 				
	   			</div>
	   		</div>
	   		<div class="hero-visual">
	   			<div class="hero-visual-inner">
	   				<div class="hero-visual-frame">
	   					  <img src="/images/sai.jpg" alt="profile" style="width: 90%; height: 90%;object-fit:cover;border-radius: 15px">
	   				</div>
	   			</div>
	   		</div>
	   </div>
	   
	   <div class="scroll-indicator">
	   		<span>Scroll Down</span>
	   		<div class="scroll-indicator-line">
	   			<div class="scroll-indicator-dot">
	   				
	   			</div>
	   		</div>
	   </div>
	   			
	  	 
	</section>
	</th:block>
</html>